/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font: 13px Tahoma, Verdana, Arial, sans-serif; }

a {
  outline: none;
  text-decoration: none; }

.container {
  margin: 0 auto;
  width: 1170px; }

.chaordic-onsite {
  background: url("../img/chaordic-onsite-top.jpg") repeat-x top;
  border-radius: 8px;
  border: 1px solid #D6E5F2;
  box-shadow: 3px 0px 2px #eee;
  display: flex;
  overflow: hidden;
  padding-bottom: 30px;
  position: relative;
  width: 940px; }
  .chaordic-onsite h3 {
    color: #0066A2;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    margin: 0 10px; }
  .chaordic-onsite:after {
    background: linear-gradient(#fff, #EAF4FD);
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10; }

.chaordic-product {
  max-width: 170px; }
  .chaordic-product figure {
    background: #fff;
    border: 2px solid #fff;
    margin: 4px 5px 10px 5px;
    padding: 0;
    text-align: center;
    width: 156px; }
    .chaordic-product figure img {
      display: block;
      margin: 0 auto;
      text-align: center; }
  .chaordic-product p {
    color: #333;
    font-size: 11px;
    margin: 5px 10px; }
    .chaordic-product p.chaordic-product-title {
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal; }
    .chaordic-product p.chaordic-product-oldprice {
      color: #000; }
    .chaordic-product p.chaordic-product-price {
      color: #CC0000;
      font-size: 12px;
      font-family: Verdana, Arial, "sans-serif";
      line-height: 1em; }
      .chaordic-product p.chaordic-product-price strong {
        font-size: 15px;
        font-weight: 900; }
    .chaordic-product p.chaordic-product-info {
      color: #CC0000;
      font-weight: bolder; }
      .chaordic-product p.chaordic-product-info span {
        font-weight: normal; }

.chaordic-reference .chaordic-product {
  border-right: 1px solid #eee;
  padding: 0 10px; }

.chaordic-recommendation {
  width: 100%; }
  .chaordic-recommendation ul {
    list-style: none;
    margin: 0;
    padding: 10px 0; }
    .chaordic-recommendation ul li {
      float: left;
      padding: 0px;
      transition: background 0.8s ease-in-out;
      vertical-align: top;
      zoom: 1;
      *display: inline; }
      .chaordic-recommendation ul li:hover {
        background: linear-gradient(#D7EAF9, #FCFDFF); }
        .chaordic-recommendation ul li:hover .chaordic-product-thumb {
          border: 2px solid #BDD0E0; }

.hidden {
  display: none; }

.carousel {
  position: relative;
  width: 100%;
  z-index: 10; }
  .carousel .slide {
    transition: margin-left 0.3s linear; }
  .carousel .carousel-control {
    background: url("../img/carousel-controls.png") no-repeat;
    display: block;
    height: 34px;
    margin-top: 60px;
    position: absolute;
    top: 0;
    width: 17px;
    z-index: 10;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap; }
  .carousel .left {
    background-position: 0 0;
    left: 0;
    margin-left: 8px; }
    .carousel .left:hover {
      background-position: 0 -34px; }
  .carousel .right {
    background-position: -17px 0;
    margin-right: 13px;
    right: 0; }
    .carousel .right:hover {
      background-position: -17px -34px; }
  .carousel ul {
    margin: 0 30px; }

/*# sourceMappingURL=chaordic-onsite.css.map */
