/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font: 13px Tahoma, Verdana, Arial, sans-serif; }

a {
  outline: none;
  text-decoration: none; }

.container {
  margin: 0 auto;
  width: 1170px; }

.chaordic-onsite {
  background: url("../img/chaordic-onsite-top.jpg") repeat-x top;
  border-radius: 5px;
  border: 1px solid #D6E5F2;
  box-shadow: 3px 0px 2px #eee;
  display: flex;
  overflow: hidden;
  padding-bottom: 27px;
  position: relative;
  width: 865px; }
  .chaordic-onsite h3 {
    color: #0066A2;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    margin: 0 10px; }
  .chaordic-onsite:after {
    background: linear-gradient(#fff, #EAF4FD);
    bottom: 0;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10; }

.chaordic-product {
  max-width: 170px; }
  .chaordic-product figure {
    background: #fff;
    border: 2px solid #fff;
    margin: 4px 5px 10px 5px;
    padding: 0;
    text-align: center;
    width: 156px; }
    .chaordic-product figure img {
      display: block;
      margin: 0 auto;
      text-align: center; }
  .chaordic-product p {
    color: #333;
    font-size: 11px;
    margin: 5px 10px; }
    .chaordic-product p.chaordic-product-title {
      line-height: 14px;
      margin-bottom: 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal; }
    .chaordic-product p.chaordic-product-oldprice {
      color: #000; }
    .chaordic-product p.chaordic-product-price {
      color: #CC0000;
      font-size: 12px;
      font-family: Verdana, Arial, "sans-serif";
      line-height: 1em; }
      .chaordic-product p.chaordic-product-price strong {
        font-size: 15px;
        font-weight: 900; }
    .chaordic-product p.chaordic-product-info {
      color: #CC0000;
      font-weight: bolder;
      line-height: 10px; }
      .chaordic-product p.chaordic-product-info span {
        font-weight: normal; }

.chaordic-reference a {
  padding: 10px 0;
  display: block; }
.chaordic-reference .chaordic-product {
  border-right: 1px solid #eee;
  padding: 0 10px; }

.chaordic-recommendation {
  width: 100%; }
  .chaordic-recommendation h3 {
    padding-left: 14px; }
  .chaordic-recommendation ul {
    list-style: none;
    margin: 0;
    padding: 10px 0; }
    .chaordic-recommendation ul li {
      float: left;
      padding: 0px;
      transition: background 0.8s ease-in-out;
      vertical-align: top;
      zoom: 1;
      *display: inline; }
      .chaordic-recommendation ul li:hover {
        background: linear-gradient(#D7EAF9, #FCFDFF); }
        .chaordic-recommendation ul li:hover .chaordic-product-thumb {
          border: 2px solid #BDD0E0; }

.hidden {
  display: none; }

.carousel {
  position: relative;
  width: 615px;
  z-index: 10;
  overflow: hidden;
  padding: 0 30px; }
  .carousel .carousel-control {
    background: white;
    height: 100%;
    width: 30px;
    position: absolute;
    top: 0; }
    .carousel .carousel-control.left {
      left: 0; }
      .carousel .carousel-control.left a {
        background-position: 0 0;
        margin-left: 8px; }
        .carousel .carousel-control.left a:hover {
          background-position: 0 -34px; }
    .carousel .carousel-control.right {
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, white 50%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.5)), color-stop(50%, white));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, white 50%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, white 50%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, white 50%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, white 50%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
      right: 0;
      width: 80px; }
      .carousel .carousel-control.right a {
        background-position: -17px 0;
        margin-left: 45px; }
        .carousel .carousel-control.right a:hover {
          background-position: -17px -34px; }
    .carousel .carousel-control a {
      background: url("../img/carousel-controls.png") no-repeat;
      display: block;
      height: 34px;
      margin-bottom: 180px;
      margin-top: 60px;
      position: absolute;
      top: 0;
      width: 17px;
      z-index: 10;
      display: block;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap; }
  .carousel ul {
    margin: 0;
    transition: margin-left 0.3s linear;
    overflow: hidden; }
  .carousel li {
    margin-right: 5px; }
    .carousel li:last-child {
      margin-right: 0; }

/*# sourceMappingURL=chaordic-onsite.css.map */
